:root {
  --border-color: #bbb;
  --page-background-color: #fdfdfd;
  --page-background-color-accent: #eee;
  --text-color: #3d3d3d;
  --link-color: #0000ff;
  --icon-external-link: url("data:image/svg+xml,       <svg xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 20 20\">         <g style=\"stroke:rgb%2800,00,255%29;stroke-width:1\">           <line x1=\"5\" y1=\"5\" x2=\"5\" y2=\"14\" />           <line x1=\"14\" y1=\"9\" x2=\"14\" y2=\"14\" />           <line x1=\"5\" y1=\"14\" x2=\"14\" y2=\"14\" />           <line x1=\"5\" y1=\"5\" x2=\"9\" y2=\"5\"  />           <line x1=\"10\" y1=\"2\" x2=\"17\" y2=\"2\"  />           <line x1=\"17\" y1=\"2\" x2=\"17\" y2=\"9\" />           <line x1=\"10\" y1=\"9\" x2=\"17\" y2=\"2\" style=\"stroke-width:1.5\" />         </g>       </svg>");
}
@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #fff;
    --page-background-color: #333;
    --page-background-color-accent: #222;
    --text-color: #fefefe;
    --link-color: #61a5c2;
  }
}

html,
body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--page-background-color);
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
}
h1,
h2,
h3,
h4 {
  font-variant-ligatures: common-ligatures;
  font-weight: normal;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 0;
}
p,
li {
  font-size: 1.5rem;
  line-height: 1.5;
}
a {
  color: var(--link-color);
}
a[href*="//"]::after
{
  content: "";
  background: no-repeat var(--icon-external-link);
  background-position-y: 0.2em;
  padding-right: 1em;
}
blockquote {
  border-left: 5px solid var(--border-color);
  padding-left: 20px;
}
code {
  display: inline-block;
  margin-bottom: -4px;
  box-sizing: border-box;
  overflow: auto;
  color: #fff;
  padding: 1px 4px;
  font-size: 0.6em;
  border-radius: 3px;
  background: #222;
}
pre code {
  padding: 20px;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 6px;
}
table {
  border: 1px solid var(--border-color);
  width: 100%;
  font-size: 1.2rem;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
table th {
  text-align: left;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
}
table tr:nth-child(even) td {
  background-color: var(--page-background-color-accent);
}
table th,
table td {
  margin: 0;
  padding: 10px;
  border-left: 1px solid var(--border-color);
}
table th:first-child,
table td:first-child {
  border-left: none;
}
img {
  margin: 0 auto;
  max-width: 100%;
}
ul,
li {
  margin: 0;
}
.header {
  margin: 40px auto 80px;
  font-family: Arial, Helvetica, sans-serif;
}
.header a {
  font-size: 1.7rem;
  display: inline-block;
}
.header a span {
  color: var(--text-color);
}
.header small {
  font-size: 1.1rem;
  display: block;
}
.content {
  margin: 0 auto 0;
  padding-bottom: 40px;
}
.cols {
  display: flex;
  flex-direction: row;
}
.cols > div {
  flex: 1;
}
.cols .half {
  flex-basis: 50%;
}
.cols .third {
  flex-basis: 30%;
}
.cols .fourth {
  flex-basis: 25%;
}
.footer {
  color: var(--text-color);
  font-size: 1.2rem;
}
.footer .footer-block {
  flex-basis: 25%;
  margin: 40px 40px 40px 0;
}
.footer .footer-block:last-child {
  margin-right: 0;
}
.graph {
  min-height: 500px;
}
.graph-wrapper {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.inbound-references {
  margin: 40px auto 0;
}
.inbound-references ul {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.inbound-references li {
  flex-basis: 30%;
  max-width: 30%;
  flex-grow: 1;
  display: inline-block;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.inbound-references ul li a {
  display: block;
  padding: 40px 20px;
}
.inbound-references ul li a:hover {
  background-color: var(--page-background-color-accent);
}
.margin-bottom {
  margin-bottom: 40px;
}
.tags {
  margin: 0 auto 20px;
}
.tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.tags .tag {
  display: inline-block;
  background: #3333ff;
  padding: 2px 10px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
}
.wrapped {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

