<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="disorganized snippets related to hacking on software">
    <title>field notes - on software, security, other things</title>
  </head>
  <link rel="stylesheet" href="/assets/styles.css">
  <body>
    <div class="wrapped">
      <div class="header">
        <a href="/"><span>field notes</span></a>
        <small>on software, security, other things</small>
      </div>
 
      {% block content %}{% endblock content %}
  </div>
  <div class="graph-wrapper">
    <div class="graph" id="cy"></div>
  </div>
  <div class="footer wrapped cols">
    <div class="footer-block fourth">
      Made with <a href="https://www.github.com/val3rius/spade/">Spade</a>
    </div>
    <div class="footer-block fourth">
      <ul>
        <li>
          <a href="https://github.com/val3rius">github</a>
        </li>
        <li>
          <a href="https://se.linkedin.com/in/erik-eklund-1360b815">linkedin</a>
        </li>
      </ul>
    </div>
  </div>
  <script defer src="/assets/main.js"></script>
</body>
</html>
