{% extends "base.html" %}

 {% block content %}
    <div class="content" id="content-container">
      <article>
        {{ content }}
      </article>
    </div>

    {% if tags %}
    <div class="tags">
      <h3>Filed under</h3>
      <ul>
      {% for tag in tags %}
        <li><a class="tag" href="/tags/{{ tag }}">#{{ tag }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <script type="text/javascript">
      var article_id = "{{ id }}";
    </script> 
{% endblock content %}
