<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="notes on software and security">
    <title>val3rius.dev - notes on software and security</title>
  </head>
  <link rel="stylesheet" href="/assets/styles.css">
  <body>
    <div class="wrapped">
    <div class="header">
      <a href="/"><span>val3rius.dev</span>/</a>
      <small>notes on software and security</small>
    </div>
 
    <div class="content" id="content-container">
      <ul>
      {% for title, url in links %}
        <li><a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="graph-wrapper">
    <div class="graph" id="cy"></div>
  </div>
  <div class="footer"><div class="wrapped">Made with <a href="https://www.github.com/val3rius/spade/">Spade</a></div></div>
  <script defer src="/assets/main.js"></script>
</body>
</html>
